---
BasedOnStyle: Chromium
---
Language: Cpp
SortIncludes: false
IndentWidth: 4
AccessModifierOffset: -3
MaxEmptyLinesToKeep: 1
ColumnLimit: 140
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false
    SplitEmptyNamespace: false
Cpp11BracedListStyle: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true

...
